@{
    ViewData["Title"] = "About Docker";
}

<div class="row">
        <div class="col-sm">
            <h1>About Docker</h1>
            <p>Docker containers wrap up software and its dependencies into a standardized unit for software
                 development that includes everything it needs to run: code, runtime, system tools and libraries</p>
            <p>What is a container?</p>
            <p>A standardized unit of software</p>
            <p>A container is a standard unit of software that packages up code and all its dependencies so the
               application runs quickly and reliably from one computing environment to another</p>
            <p>Docker Containers Are Everywhere: Linux, Windows, Data center, Cloud, Serverless, etc.</p>
            <a href="https://docs.docker.com/get-started/" target="_blank">Get started with Docker</a>
            <p><a href="https://www.docker.com/resources/what-container" target="_blank">More info</a></p>
        </div>
        <div class="col-sm d-flex align-items-center justify-content-center">
            <img src="~/images/docker.png" alt="docker">
        </div>
</div>