@{
    ViewData["Title"] = "About ASP.NET Core";
}

<div class="row">
        <div class="col-sm">
            <h1>About ASP.NET Core</h1>
            <p>ASP.NET Core is the open-source version of ASP.NET, that runs on macOS, Linux, and Windows. </p>
            <p>ASP.NET Core is designed to allow runtime components, APIs, compilers and languages evolve quickly,
                 while still providing a stable and supported platform to keep apps running.</p>
            <a href="https://dotnet.microsoft.com/learn/web/aspnet-hello-world-tutorial/intro" 
            target="_blank">Get started with ASP.NET Core</a>
            <p><a href="https://dotnet.microsoft.com/learn/web/what-is-aspnet-core" 
            target="_blank">More info</a></p>
           
        </div>
        <div class="col-sm d-flex align-items-center justify-content-center">
            <img src="~/images/netcore.png" alt="netcore">
        </div>
</div>