@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
      <link rel="stylesheet" href="~/css/index.css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
      <h1 class="display-4">ASP.NET Core with Docker</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"
     target="_blank">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about <a href="https://docs.docker.com/get-started/" 
    target="blank">Docker</a>.</p>
</div>

<div class="row">
    <div class="col-sm text-center">
      <img src="~/images/netcore.png" class="img-home" alt="netcore">
      <img src="~/images/docker.png" class="img-home"  alt="docker">
    </div>
</div>

<div id="main-info">
    <div id="netcore-section" class="row">
      <div class="col-sm text-center">
        <h2>About ASP.NET Core</h2>
        <p>ASP.NET Core is the open-source and cross-platform version of ASP.NET.
        that runs on Windows, Linux, macOS and Docker.</p>
      </div>
  </div>

  <div id="docker-section" class="row">
      <div class="col-sm text-center">
          <h2>About Docker</h2>
          <p>Docker is a platform for developers and sys admins to develop, deploy
            and run applications with containers.</p>
      </div>
  </div>
</div>



